.text-grad {
    background-image: linear-gradient(90deg, #00d89e 0%, #abffab 100%);
    color: transparent;
    background-clip: text;
}

.circle-primary {
    border-radius: 50%;
    background-image: linear-gradient(90deg, #00d89e 0%, #abffab 100%);
}